# Temporary solution until kserve release 0.9.0
# Due to https://github.com/kserve/kserve/pull/1910

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.0
  name: inferencegraphs.serving.kserve.io
spec:
  group: serving.kserve.io
  names:
    kind: InferenceGraph
    listKind: InferenceGraphList
    plural: inferencegraphs
    shortNames:
    - ig
    singular: inferencegraph
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.url
      name: URL
      type: string
    - jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              nodes:
                additionalProperties:
                  properties:
                    routerType:
                      enum:
                      - Sequence
                      - Splitter
                      - Ensemble
                      - Switch
                      type: string
                    steps:
                      items:
                        properties:
                          condition:
                            type: string
                          data:
                            type: string
                          name:
                            type: string
                          nodeName:
                            type: string
                          serviceName:
                            type: string
                          serviceUrl:
                            type: string
                          weight:
                            format: int64
                            type: integer
                        type: object
                      type: array
                  required:
                  - routerType
                  type: object
                type: object
            required:
            - nodes
            type: object
          status:
            properties:
              annotations:
                additionalProperties:
                  type: string
                type: object
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    severity:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                format: int64
                type: integer
              url:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []

---

apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: inferencegraph.serving.kserve.io
webhooks:
  - clientConfig:
      caBundle: Cg==
      service:
        name: $(webhookServiceName)
        namespace: $(kserveNamespace)
        path: /validate-serving-kserve-io-v1alpha1-inferencegraph
    failurePolicy: Fail
    name: inferencegraph.kserve-webhook-server.validator
    sideEffects: None
    admissionReviewVersions: ["v1beta1"]
    rules:
      - apiGroups:
          - serving.kserve.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - inferencegraphs
