replicas: 2

resources:
  requests:
    cpu: 25m
    memory: 64Mi
  limits: ~

accessKey: YOURACCESSKEY
secretKey: YOURSECRETKEY

rootUser: YOURACCESSKEY
rootPassword: YOURSECRETKEY

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: istio
  path: /
  hosts:
    - minio.minio.127.0.0.1.nip.io

consoleIngress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: istio
  path: /
  hosts:
    - console.minio.127.0.0.1.nip.io

buckets:
  - name: mlflow
    policy: none
    purge: false
    versioning: false
