[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
merlin-batch-predictor = {editable = true,extras = ["test"],path = "."}

[packages]
merlin-batch-predictor = {extras = ["test"], file = ".", editable = true}
