[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "artifactory"
url = "http://merlin.dev/artifactory/api/pypi/gojek-pypi/simple"
verify_ssl = false

[packages]
merlin-sdk = "=={{ cookiecutter.merlin_sdk_version }}"

[requires]
python_version = "3.7"