[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyfuncserver = {editable = true, extras = ["test"], path = "."}
cython = ">=3.0"
merlin-pyfunc-server = {extras = ["test"], file = ".", editable = true}

[dev-packages]
