argparse>=1.4.0
numpy >= 1.8.2
cloudpickle==2.0.0
prometheus_client==0.14.1
#TODO: Remove uvloop pinning once we drop Python 3.7 support
uvloop>=0.15.2,<0.19.0
orjson>=2.6.8
tornado
caraml-upi-protos
# Starting 1.49.0, grpc uses protobuf 4.X which are incompatible with most of our dependencies
grpcio<1.49.0
grpcio-reflection<1.49.0
grpcio-tools<1.49.0
grpcio-health-checking<1.49.0
#TODO: Update merlin-sdk dep to: file:${SDK_PATH}#egg=merlin-sdk
merlin-sdk==0.33.0 # Pin to the version that supports Python 3.7.
