.config {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  padding: 5px 5px 62vh 10px;
}

.config::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.preprocessing {
  background-color: #eaf9ff;
}

.postprocessing {
  background-color: #d2f1fe;
}
