.config::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.config-sidebar {
  overflow-y: auto;
  position: sticky;
  top: 75px !important;
}

.preprocessing {
  background-color: #eaf9ff;
}

.postprocessing {
  background-color: #d2f1fe;
}

.simulation {
  background-color: #eaf8ff;
}
