name: Merlin Release CI
on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
    secrets:
      ghcr_token:
        required: true
      pypi_username:
        required: true
      pypi_password:
        required: true

env:
  DOCKER_REGISTRY: ghcr.io

jobs:
  publish-python-sdk:
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.8
          cache: pip
      - name: Install dependencies
        working-directory: ./python/sdk
        run: pip install setuptools>=64 setuptools_scm>=8 twine wheel
      - name: Build and publish
        env:
          TWINE_USERNAME: ${{ secrets.pypi_username }}
          TWINE_PASSWORD: ${{ secrets.pypi_password }}
        working-directory: ./python/sdk
        run: |
          tag=$(git describe --tags --always --first-parent)
          sed -i -e "s|VERSION = \".*\"|VERSION = \"`echo "${tag//v}"`\"|g" ./merlin/version.py
          python setup.py sdist bdist_wheel
          twine upload dist/*

  publish-merlin-pyfunc-server:
    # if: ${{ startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: 3.8
          cache: pip
      - name: Install dependencies
        working-directory: ./python/pyfunc-server
        run: pip install setuptools>=64 setuptools_scm>=8 twine wheel
      - name: Build and publish
        env:
          TWINE_USERNAME: ${{ secrets.pypi_username }}
          TWINE_PASSWORD: ${{ secrets.pypi_password }}
        working-directory: ./python/pyfunc-server
        run: |
          tag=$(python -m setuptools_scm -r ../.. | sed 's/\+.*//')
          echo $tag
          sed -i -e "s|VERSION = \".*\"|VERSION = \"`echo "${tag}"`\"|g" ./pyfuncserver/version.py
          python setup.py sdist bdist_wheel
          twine upload dist/*

  publish-python-sdk-docker:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    needs:
      - publish-python-sdk
    steps:
      - uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Merlin SDK Docker py${{ matrix.python-version }}
        env:
          CONTAINER_REGISTRY: ${{ env.DOCKER_REGISTRY }}/${{ github.repository }}
        working-directory: ./python/sdk
        run: |
          IMAGE_TAG="${{ env.CONTAINER_REGISTRY }}/merlin-sdk:py${{ matrix.python-version }}-${{ inputs.version }}"
          docker build -t ${IMAGE_TAG} --build-arg PYTHON_VERSION=${{ matrix.python-version }} .
          docker push ${IMAGE_TAG}

  publish-api:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Download API Docker Artifact
        uses: actions/download-artifact@v2
        with:
          name: merlin.${{ inputs.version }}.tar
      - name: Retag and Push Docker Image
        run: |
          IMAGE_TAG="${{ env.DOCKER_REGISTRY }}/caraml-dev/merlin:${{ inputs.version }}"
          docker login ${{ env.DOCKER_REGISTRY }} -u ${{ github.actor }} -p ${{ secrets.ghcr_token }}
          docker image load --input merlin.${{ inputs.version }}.tar
          docker tag merlin:${{ inputs.version }} ${IMAGE_TAG}
          docker push ${IMAGE_TAG}

  publish-transformer:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Download API Docker Artifact
        uses: actions/download-artifact@v2
        with:
          name: merlin-transformer.${{ inputs.version }}.tar
      - name: Retag and Push Docker Image
        run: |
          IMAGE_TAG="${{ env.DOCKER_REGISTRY }}/caraml-dev/merlin-transformer:${{ inputs.version }}"
          docker login ${{ env.DOCKER_REGISTRY }} -u ${{ github.actor }} -p ${{ secrets.ghcr_token }}
          docker image load --input merlin-transformer.${{ inputs.version }}.tar
          docker tag merlin-transformer:${{ inputs.version }} ${IMAGE_TAG}
          docker push ${IMAGE_TAG}

  publish-inference-logger:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Download API Docker Artifact
        uses: actions/download-artifact@v2
        with:
          name: merlin-logger.${{ inputs.version }}.tar
      - name: Retag and Push Docker Image
        run: |
          IMAGE_TAG="${{ env.DOCKER_REGISTRY }}/caraml-dev/merlin-logger:${{ inputs.version }}"
          docker login ${{ env.DOCKER_REGISTRY }} -u ${{ github.actor }} -p ${{ secrets.ghcr_token }}
          docker image load --input merlin-logger.${{ inputs.version }}.tar
          docker tag merlin-logger:${{ inputs.version }} ${IMAGE_TAG}
          docker push ${IMAGE_TAG}

  publish-batch-predictor:
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE_TAG: "ghcr.io/${{ github.repository }}/merlin-pyspark-base:${{ inputs.version }}"
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Download Batch Predictor Base Docker Artifact
        uses: actions/download-artifact@v2
        with:
          name: merlin-pyspark-base.${{ inputs.version }}.tar
      - name: Retag and Push Docker Image
        run: |
          docker image load --input merlin-pyspark-base.${{ inputs.version }}.tar
          docker push ${{ env.DOCKER_IMAGE_TAG }}

  publish-pyfunc:
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE_TAG: "ghcr.io/${{ github.repository }}/merlin-pyfunc-base:${{ inputs.version }}"
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Download Pyfunc Server Base Docker Artifact
        uses: actions/download-artifact@v2
        with:
          name: merlin-pyfunc-base.${{ inputs.version }}.tar
      - name: Retag and Push Docker Image
        run: |
          docker image load --input merlin-pyfunc-base.${{ inputs.version }}.tar
          docker push ${{ env.DOCKER_IMAGE_TAG }}

  publish-observation-publisher:
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE_TAG: "ghcr.io/${{ github.repository }}/merlin-observation-publisher:${{ inputs.version }}"
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Download Observation Publisher Docker Artifact
        uses: actions/download-artifact@v2
        with:
          name: merlin-observation-publisher.${{ inputs.version }}.tar
      - name: Retag and Push Docker Image
        run: |
          docker image load --input merlin-observation-publisher.${{ inputs.version }}.tar
          docker push ${{ env.DOCKER_IMAGE_TAG }}
